<% layout('layout/boiler_plate')%>


<style>
  input{
    background: transparent !important;
    border: none !important;
    border-bottom: 2px solid teal !important;
    color: white !important;
  }
</style>


<div style="margin: auto;">
    <form autocomplete="off" action="/bill" method="POST">
    <h2>Item Details</h2>
    <br>
    <div class="row clearfix">
      <div class="col-md-12">
        <table style="color: white;" class="table table-sm" id="tab_logic">
          <thead>
            <tr>
              <th class="text-center"> # </th>
              <th class="text-center" style="width: 10%;"> Code </th>
              <th class="text-center"> Product </th>
            
              <th class="text-center" style="width: 20%;"> Qty </th>
              <th class="text-center"> Price </th>
              <th class="text-center"> Total </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr id='addr0'>
              <td>1</td>
              <td><input type="text" name='code[]' placeholder='#' class="form-control id" readonly/></td>

  <!-- updating code here -->
              <td class="inprow">
                
                  <input id="list" type="search" name='product[]'  placeholder='Enter Product Name' class="form-control productName" oninput="myfunc(this)"  required/>

                  
                  
                  
                 
                
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Scan Product Barcode</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Add Product</button>
                      </div>
                    </div>
                  </div>
                </div>

<!-- updated code ends -->
                
                  <ul class="dropdownitems" id="allItems0">
                    <%for (var i=0;i<items.length;i++){%>
                        <li style="text-align: left;" value="<%=items[i]._id%>" onclick="putitem(this,<%=JSON.stringify(items[i])%>)"><a href="#"><%=items[i].item_name%></a></li>
                    <%}%>
                </ul>
                
              </td>
             
              <td><input type="number" name='qty[]' value="0"  placeholder='Enter Qty' class="form-control qty" step="1" min="0"/></td>
              <td><input type="number" name='price[]' placeholder='Unit Price' class="form-control price" readonly/></td>
              <td><input type="number" value="0" name='total[]' placeholder='0.00' class="form-control total" readonly/></td>
              <td>
                <div class="bt" style="display: flex; align-items: center; justify-content: center; ">
                  <button type="button" class="btn btn-success btn-sm" " data-toggle="modal" data-target="#exampleModalLong">
                    Scan
                  </button>
                </div>
              </td>
            </tr>
            <tr id='addr1'></tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-md-12">
        <button type="button" id="add_row" class="btn btn-outline-success pull-left">Add Row</button>
        <button type="button" id='delete_row' class="pull-right btn btn-outline-danger">Delete Row</button>
      </div>
    </div>

    <br>
    
    <div class="row clearfix" style="margin-top:20px">
      <div class="">
        <table style="color: white;" class="" id="tab_logic_total">
          <tbody>
            
              <th class="text-center">Sub Total</th>
              <td class="text-center">
                <input type="number" value="0" name='sub_total' placeholder='0.00' class="form-control" id="sub_total" readonly/>
              </td>
            
            
              <th class="text-center">Tax in %</th>
              <td class="text-center">
                  <input type="number" class="form-control" id="tax" name="tax" min="0" value="0" placeholder="0">
              </td>
            
            
              <th class="text-center">Tax Amount</th>
              <td class="text-center">
                <input type="number" value="0" name='tax_amount' id="tax_amount" placeholder='0.00' class="form-control" readonly/>
              </td>
            
            
              <th class="text-center">Grand Total</th>
              <td class="text-center">
                <input type="number" value="0" name='total_amount' id="total_amount" placeholder='0.00' class="form-control" readonly/>
              </td>
          
          </tbody>
        </table>
      </div>
    </div>
    <br>
    <button type="submit button" class="btn btn-success">Create Bill</button>
    <br>
</form>
<br>
  </div>

<style>

  .inprow{
    position: relative;
  }

  .dropdownitems {
    padding: 0;
    margin: 0;
    z-index: 5;
  list-style: none;
  position: absolute;
  left: 0%;
  width: 100%;
  max-height:25vh;
    overflow:auto;
    background-color: #2f3238;
}
.dropdownitems li {
  background: #2f3238;
  border-radius: 0.5em;
}
  .dropdownitems li:hover {
  background: #1d1f24;
}
.dropdownitems li a {
  display: block;
  padding: 0.7em ;
  color: #fff;
  margin:0;
  text-decoration: none;
}
</style>

<script>
  let inp = document.querySelector("#list");
  let list = document.querySelector("#allItems0");
  if (inp.value == ""){
    list.style.display = "none"
  }
  else{
    list.style.display = "list-item";
  }
</script>

  <script>
    $(document).ready(function(){
    var i=1;
    $("#add_row").click(function(){b=i-1;
        $('#addr'+i).html($('#addr'+b).html()).find('td:first-child').html(i+1);
        $('#addr'+i).find('#allItems'+b).attr("id","allItems"+i);
      	$('#tab_logic').append('<tr id="addr'+(i+1)+'"></tr>');
      	i++; 
  	});
    $("#delete_row").click(function(){
    	if(i>1){
		$("#addr"+(i-1)).html('');
		i--;
		}
    else{
      alert("Bill must have atleast 1 item!!")
    }
		calc();
	});
	
	$('#tab_logic tbody').on('keyup change',function(){
		calc();
	});
	$('#tax').on('keyup change',function(){
		calc_total();
	});
});

function calc()
{
	$('#tab_logic tbody tr').each(function(i, element) {
		var html = $(this).html();
		if(html!='')
		{
			var qty = $(this).find('.qty').val();
			var price = $(this).find('.price').val();
			$(this).find('.total').val(qty*price);
			
			calc_total();
		}
    });
}

function calc_total()
{
	total=0;
	$('.total').each(function() {
        total += parseInt($(this).val());
    });
	$('#sub_total').val(total.toFixed(2));
	tax_sum=total/100*$('#tax').val();
	$('#tax_amount').val(tax_sum.toFixed(2));
	$('#total_amount').val((tax_sum+total).toFixed(2));
}

function myfunc(y)
{
    x=y.parentElement.parentElement.id
    x=x.substring(4)

    z=document.getElementById("addr"+x)
    z.children[1].children[0].value='#'
    // console.log(input.children[2].children[0])
    z.children[3].children[0].value=0
    z.children[3].children[0].max=0
    z.children[4].children[0].value=''
    z.children[5].children[0].value=0

    var input, filter, ul, li, a, i, txtValue;
    input = y;
    filter = input.value.toUpperCase();

    ul = document.getElementById("allItems"+x);
    ul.style.display="block";
    li = ul.getElementsByTagName('li');

    
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
        li[i].style.display = "";
        } else {
        li[i].style.display = "none";
        }
    }
}

function putitem(y,i)
{
    x=y.parentElement.parentElement.parentElement.id
    x=x.substring(4)

    <%i=JSON.parse(i)%>

    var input, filter, ul, li, a, i, txtValue;
    ul = document.getElementById("allItems"+x);
    ul.style.display="none"
    input=document.getElementById("addr"+x)
    input.children[1].children[0].value=i.item_code
    // console.log(input.children[2].children[0])
    input.children[2].children[0].value=i.item_name
    input.children[3].children[0].max=i.quantity
    input.children[4].children[0].value=i.unit_price

}
// the code written below is added on 27/3/24
$('#exampleModalLong').on('shown.bs.modal', function () {
    Quagga.init({
        inputStream: {
            name: "Live",
            type: "LiveStream",
            target: document.querySelector('#exampleModalLong .modal-body') 
        },
        decoder: {
            readers: ["code_128_reader"] 
        },
        locate: true, 
        area: { 
            top: "20%", 
            right: "20%",
            left: "20%",
            bottom: "20%"
        },
    }, function (err) {
        if (err) {
            console.log(err);
            $('#exampleModalLong .modal-body').html('<p>Error initializing camera. Check permissions, lighting, and try a different barcode.</p>'); 
            return;
        }
        console.log("Initialization finished. Ready to start");
        Quagga.start();
    });

    // Replace '.form-control.id' with the selector for your target input field
    Quagga.onDetected(function (data) { 
        const code = data.codeResult.code;

        // Populate the input field with the scanned code
        $('.form-control.productName').val(code);
        

        // const matchingItem = items.find(item => item.item_code === code); 
        // Stop the scanner 
        Quagga.stop(); 

        // Close the modal
        $('#exampleModalLong').modal('hide');  

        // You might want to trigger your 'calc' function here if needed
        calc();
    });
});
  </script>

<style>
  #exampleModalLong .modal-body {
  position: relative; /* Make the modal-body a positioning context */
}

#exampleModalLong .modal-body video {
  width: 100%;   
  max-height: 300px; 
  object-fit: cover; 
  position: absolute; /* Position the video absolutely */
  top: 50%;   /* Center it vertically */
  left: 50%;  /* Center it horizontally */
  transform: translate(-50%, -50%); /* Adjust positioning for centering */
}
</style>
